.bg-light{
    background-color: coral !important;
    border-bottom: 2px solid black;
}

.navbar-nav{
    margin-right:10vw;
}

.navbar-brand img{
    height: 100%;
    width: 100%;
}

.carousel-item img{
    height: 20vh;
}